@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Inter:wght@100..900&display=swap');

@layer base {
  body {
    font-family: 'DM Sans', sans-serif;
    background-color: #ffffff;
  }
}

@theme {
    --font-heading: 'Manrope', sans-serif;
    --font-body: 'Inter', sans-serif;
    --font-label: 'Inter', sans-serif;
    --color-primary: #0058be;
    --color-secondary: #6177A5;
    --color-tertiary: #D16900;
    --color-neutral: #F8FAFC;
    --color-desc: #191c1e;
    --color-surface: #f7f9fb;
    --color-surface-select: #d8e2ff;
    --color-surface-variant: #e3e4e6;
    --color-on-select: #001a42;
}

@layer components{
    .glass-nav {
        background: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(20px);
    }

    .hero-gradient-text {
        background: linear-gradient(135deg, #0058be 0%, #2170e4 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .primary-cta {
        background: linear-gradient(135deg, #0058be 0%, #2170e4 100%);
        color: var(--color-neutral);
        border: 2px solid transparent;
        padding: 10px 20px;
        border-radius: 12px;
        font-family: var(--font-heading);
        line-height: var(--tw-leading, var(--text-sm--line-height));
        cursor: pointer;
    }

    .primary-cta-hover:hover{
        background: linear-gradient(135deg, #2170e4 0%, #0058be 100%);
    }

    .secondary-cta {
        color: rgb(73, 73, 73);
        padding: 10px 20px;
        font-family: var(--font-heading);
        line-height: var(--tw-leading, var(--text-sm--line-height));
        cursor: pointer;
        border-radius: 12px;
    }

    .secondary-cta-hover:hover {
        background: rgb(237, 236, 236);
        color: black;
    }

    .bento-inner-shadow {
        box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.05);
    }

    .hero-gradient {
        background: linear-gradient(135deg, #001a42 0%, #005ac2 50%, #2170e4 100%);
    }

    .data-flow-line {
        background: linear-gradient(90deg, transparent, rgba(255,255,255,0.2), transparent);
    }

    .glass-panel {
        background: rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
        border: 1px solid rgba(255, 255, 255, 0.3);
    }
}